<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="site-title"><strong>Kintun</strong></h1>
          <%=form_for @homeapi, url:homeapis_search_path do |f|%>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-6">
					<p class="text-center">
						<label class="col-sm-2 control-label" for="formGroupInputLarge">
							<h3>¿Cuánto tiempo libre tienes ahora?</h3> </label>
						</p>	  
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="radio" name="time" id="option1" autocomplete="off" checked value="10"> 10 min.
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="time" id="option2" autocomplete="off" value="20"> 20 min.
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="time" id="option3" autocomplete="off" value="30"> 30 min.
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="time" id="option4" autocomplete="off" value="40"> 40 min.
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="time" id="option5" autocomplete="off" value="50"> 50 min.
							</label>
						</div> 
						<br>
						<p class="text-center">
							<label class="col-sm-2 control-label" for="formGroupInputLarge">
								<h3>¿Tienes un tema de interés?</h3> </label>
							</p>	
							<br>
                            <%=f.text_field :tag , :class => 'form-control' %>
                            <br>
							<%= f.submit 'Kintun!', :class => 'btn btn-success btn-lg btn-block' %>

							<br>
							<a href="<%= tiles_show_path %>" class="btn  btn-primary">Random mágico</a>
							</div>
					</div>
                  <%end%>
			</div>
		</div>

