<p id="notice"><%= notice %></p>

<h1>Welcome</h1>
<p>Cuanto tiempo libre tienes?</p>

<p>Que te interesa hoy?</p>

<%= form_for @homeapi, url: homeapis_search_path() do |f| %>
   <%= f.text_field :tag %><br />
   <%= f.submit %><br />
<% end %>

  