  
<div class="row">
	

	<div class="col-md-12">
		<span class="h2"> <%= @resultado['title'].html_safe %> </span> 

	</div>
	
	

	<div class="col-md-12 postArticle-content"> <br>
		<%= @resultado['content'].html_safe %>
	</div>

	<div class="col-md-12 text-center">	  
		<%= link_to 'volver', homeapis_search_path(tag: @tag, time: @time), method: :post, class: 'btn btn-primary' %>
	</div>

	<br> 

</div>

