  
<div class="container text-center"> 

  <div class="row">
<div class="col-md-12">
  
  <h2>Conoce al Equipo de <strong>Kintun</strong></h2>
  <br>
</div>

     <div class="col-lg-4">
          
    <%=  image_tag("dgm.png", class: "img-circle") %>
          
          <h2>Dani Hackattoni</h2>
          <p>Estudiante de Ingeniería de Software, Rubysta on Rails y Su Breadly Favorito es jamonPalta.</p>
           
         <p><a class="btn btn-primary" href="https://twitter.com/danigattoni_" >Seguir en Twitter»</a></p>
        </div>

       
   <div class="col-lg-4">
          
    <%=  image_tag("seba.png", class: "img-circle") %>

          
          <h2>Seba RubyGuru Jimenez</h2>
          <p>Bootcamp Hero, Rubysta on Rails y Breadly Lover</p>
         <p><a class="btn btn-primary" href="https://twitter.com" >Seguir en Twitter»</a></p>
          
        </div>
     
  <div class="col-lg-4">
          
    <%=  image_tag("ironman_patricio.png", class: "img-circle") %>         
          <h2>Patricio Codeigniter Mercado</h2>
          <p>Estudiante de Motoquero Informatico, </p>
         <p><a class="btn btn-primary" href="https://twitter.com" >Seguir en Twitter»</a></p>
          
        </div>




  </div>

</div>



  


